.mint-toast{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7);
    min-width: 156px;
    padding: 26px 10px 20px 10px !important;
    border-radius: 2px;
    font-size: 16px;
  .icon-success{
    display: inline-block;
    background-image: url(./assets/img/success_ok.png) ; //相对于APP
    background-size: 40px auto;
    width: 40px;
    height: 40px;
    margin: 0 0 16px 0;
  }
  .mint-toast-text{
    padding: 0 !important;
    color: #fff;
  }
}
